<div class="container col-md-9 animated fadeInLeft">
    <div class="alert alert-{{type}} animated fadeIn" ng-show = "alert">
        <p>{{message}}</p>
    </div>
    <h4 class="text-center">Assign Tasks to team.</h4>
    <hr>
    <form name = "taskForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="taskName">Task Name</label>
            <div class="col-sm-6">
                <input type = "text" class="form-control" name = "taskName" placeholder="Task Name" ng-model = "taskName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="taskDesc">Task Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" rows="4" cols="10" name = "taskDesc" placeholder="Task Description" ng-model = "taskDesc" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="assignedTo">Assign To</label>
            <div class="col-sm-6">
                <select class="form-control" name ="assignedTo" ng-model = "assignedTo" required>                    
                    <option value="Development">Development</option>
                    <option value="Maintenance">Maintenance</option>
                    <option value="Support">Support</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <input type="submit" class="btn btn-success" value="Assign Task" ng-disabled = "taskForm.taskName.$invalid || taskForm.taskDesc.$invalid || taskForm.assignedTo.$invalid" ng-click = "saveTask()">
            </div>
        </div>
    </form>
</div>