<div class="container overlay" ng-show="loading">
  <span class="btn btn-lg btn-success loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Generating Report ...</span>
</div>
<br>

<div class="col-md-12 container report-container animated fadeIn">
    <div class="panel panel-default" style = "height: 200px;">
        <div class="panel-body"></div>
            <h4 class="text-center">SMB/Curbside Reports</h4>
            <br>
            <div style = "margin-left: 60px;" class="form-inline">
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-1">
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-show="!category">Pricing Option</span> 
                                <span ng-show = "category">{{category}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="choice in commerceOptions">
                                    <a href ng-click = "select(choice)" style = "margin-right: 0px;width: 170px;"> {{choice}} </a>
                                </li>        
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class = "col-md-6">
                        <div class="btn-group" uib-dropdown>
                            <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-show = "!subCategory">Sub Category</span> 
                                <span ng-show = "subCategory">{{subCategory}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="choice in subCategories">
                                    <a href style = "margin-right: 0px;width: 170px;" ng-click = "selectSub(choice)" >{{choice}} </a>
                                </li>        
                            </ul>
                        </div> 
                    </div>
                </div>                
                <div class="form-group">
                    <input type = "submit" class="btn btn-primary" value = "Generate Report" ng-click = "generateCommerceReport()">        
                </div>
            </div>
        </div>
    </div>
