<div class="container-fluid animated fadeIn" style = "overflow: hidden; margin-top: 15px;">
    <div class="panel panel-default program-level-header">
        <div class="panel-body">
            <h5 class = "pull-left" style = "padding-top: 5px">Notification Overview</h5>
            <a ui-sref = "landing.dashboard" class = "pull-right btn btn-warning btn-sm view-text">Back To DashBoard View</a>
        </div>
    </div>
    <div class="container-fluid">
        <h5 class="text-center clear-text" style  = "font-size: 22px;">Past Incidents</h5>
        <br>
        <div class = "notifcation-container" ng-repeat = "notification in notificationList track by $index">
            <h4 class = "clear-text" style="font-weight: 600;">{{notification.reportedDate | date: 'MMM d, yyyy'}}</h4>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <h5 class="clear-text" style="font-size: 14px !important;">Issue</h5>
                </div>
                <div class="col-md-6"  style="font-size: 14px !important;">
                    {{notification.issue}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5 class="clear-text"  style="font-size: 14px !important;">Description</h5>
                </div>
                <div class="col-md-6"  style="font-size: 14px !important;">
                    {{notification.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5 class="clear-text"  style="font-size: 14px !important;">End System</h5>
                </div>
                <div class="col-md-6"  style="font-size: 14px !important;">
                    {{notification.endSystem | uppercase}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h5 class="clear-text"  style="font-size: 14px !important;">Criticality</h5>
                </div>
                <div class="col-md-6">
                    <span class="label label-danger" ng-if = "notification.criticality == 'critical'" style="font-size: 14px;">Critical</span>
                    <span class="label label-danger" ng-if = "notification.criticality == 'high'" style="font-size: 14px;">High</span>
                    <span class="label label-warning" ng-if = "notification.criticality == 'medium'" style="font-size: 14px;">Medium</span>
                </div>
            </div>
            <br>
        </div>
    </div>    
</div>