<div class="container overlay" ng-show="loading">
  <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Generating...</button>
</div>
<br>


<div class="panel panel-default animated fadeIn">
    <div class="panel-body">
        <h4 class="text-center">Online Service Request Report</h4>
        <br>
        <p class = "clear-text">Please select the Start Date and End Date</p>
        <hr>
        <table>
            <tr>
                <td class="clear-text">Start Date</td>
               	<td>
                    <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup ng-model="startDate" is-open="startStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>	
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default date-button" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </td>
                <td class="clear-text"><span style="margin-left: 20px;">End Date</span></td>
                <td>
                    <p class="input-group">
                            <input type="date" class="form-control" datepicker-popup ng-model="endDate" is-open="endStatus.opened" min-date="minEndDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  style="margin: 0 10px;"/>	
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default date-button" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </td>
                <td>
                    <div style = "margin-left: 25px; margin-top: -10px;">
                        <input type = "submit" class="btn btn-primary pull-right" value = "Generate Report" ng-click ="generateServiceRequestReport()">
                    </div>                    
                </td>
            </tr>			
        </table>
        <div class="form-group">
            
        </div>
    </div>
</div>